<p>customerpage works!</p>

<h4> 
    <div *ngFor = "let i of myinfo">
        HELLO <a>{{i.user_email}}</a>
    </div>
</h4>
    <h3>My cart</h3>
    <table>
    <tr>
      <td>My order ID</td>
      <td>Date purchase</td>
      <td>Total unpaid</td>
      <td>Total paid</td>
      <td>Total price</td>
      <td>Button</td>
    </tr>
    <tr *ngFor = "let i of mycart">
      <td>{{i.order_id}}</td>
      <td>{{i.created_at | date:"MMM d, y h:mm:ss a"}}</td>
      <td><b>${{i.total_unpaid}}</b></td>
      <td><b>${{i.total_paid}}</b></td>
      <td><b>${{i.total_price}}</b></td>
      <td>
        <button class="btn btn-success" (click)="paySingleorder(i)">Pay this order</button>
    </td>
    </tr>
  </table>
  <h2 *ngFor="let i of temp2">Total unpaid: {{i}}$</h2>
  <h2>Total price: $</h2>
  <button class="btn btn-success" (click) = "payAllorder()">Pay all unpaid order</button>


  <h3>My purchase history</h3>
  <table>
    <tr>
      <td>My order ID</td>
      <td>Date purchase</td>
      <td>Total paid</td>
    </tr>
    <tr *ngFor = "let i of myhistory">
      <td>{{i.order_id}}</td>
      <td>{{i.created_at | date:"MMM d, y h:mm:ss a"}}</td>
      <td><b>${{i.total_paid}}</b></td>
    </tr>
  </table>
