<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <title>Order and transaction</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1">


</head>
<style>
    .hover:hover {
        background-color: #e2e3e5;
    }

    table {
        cursor: pointer;
    }

    .my-toast {
        margin: 10px 20px 5px 10px;
        padding: 20px;
        min-width: 250px;
        max-width: 250px;
        max-height: 150px;
        color: red;
    }

    .my-toast-wrapper {
        overflow: auto;
        position: absolute;
        top: 0;
        right: 0;
    }

    .my-toast-wrapper:hover {
        cursor: pointer;
    }

    .my-toast:hover {
        filter: brightness(90%);
    }

    .tab-color {
        background-color: lightgray !important;
    }

    ul.pagination:hover {
        cursor: pointer;
    }
</style>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                        data-widget="pushmenu"
                        href="#"
                        role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- mytoast -->
            <ul class="my-toast-wrapper">
                <li class="card my-toast"
                    [ngClass]="toast_type(e.type)"
                    [ngStyle]="toast_color(e.type)"
                    *ngFor="let e of err"
                    (click)="dismiss_err(e)">
                    <div class="row">
                        <div *ngIf="e.type === 'danger' "><i class="fas fa-exclamation-circle"></i></div>
                        <div *ngIf="e.type === 'success' "><i class="fas fa-check-circle"></i></div>
                        <div *ngIf="e.type === 'warning' "><i class="fas fa-exclamation-triangle"></i></div>
                        <div *ngIf="e.type === 'info' "><i class="fas fa-info-circle"></i></div>
                        <div class="col">
                            <div *ngIf="err.length !== 0">{{e.message}}</div>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- Right navbar links -->

        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link">
                <img src="assets/dist/img/AdminLTELogo.png"
                    alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="assets/dist/img/maleava.png"
                            class="img-circle elevation-2"
                            alt="User Image">
                    </div>
                    <div class="info">
                        <a *ngFor="let i of infoarr"
                            class="d-block">{{i.admin_name}}</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column"
                        data-widget="treeview"
                        role="menu"
                        data-accordion="false">

                        <li class="nav-item active">
                            <a href="/sale-page"
                                class="nav-link">
                                <i class="fas fa-shopping-cart"></i>
                                <p>Sale</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a href="/profile-page"
                                class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Order
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/profile-page"
                                        class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order list</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/sale-page"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sale</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/invoice-page"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Invoice</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#"
                                class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    User
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/user-page"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User list</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#"
                                class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Product
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/product-page"
                                        class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Product list</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#"
                                class="nav-link">
                                <i class="nav-icon far fa-plus-square"></i>
                                <p>
                                    Authentication
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/login-page"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Login</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-header">LABELS</li>
                        <li class="nav-item">
                            <a href="#"
                                class="nav-link">
                                <i class="nav-icon far fa-circle text-danger"></i>
                                <p class="text">Important</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/profile-page"
                                class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i>
                                <p>Warning</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/profile-page"
                                class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Informational</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Order</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header p-2">
                                    <div class="d-flex justify-content-between">
                                        <div class="p-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                        id="basic-addon1">
                                                        <i class="fa fa-search"
                                                            aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <input type="text"
                                                    class="form-control"
                                                    name="search"
                                                    [(ngModel)]="searchOrder"
                                                    placeholder="Find order">
                                            </div>

                                        </div>
                                        <div class="p-0">

                                        </div>
                                    </div>

                                </div><!-- /.card-header -->
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr class=" bg-light">
                                                <th scope="row"
                                                    (click)="sortOrder('order_id')"><b>Id</b>
                                                    <span class="float-right">
                                                        <span *ngIf="orderSort===true && chooseOrder === 'order_id' "><i
                                                                class="fas fa-caret-down"></i></span>
                                                        <span
                                                            *ngIf="orderSort===false && chooseOrder === 'order_id' "><i
                                                                class="fas fa-caret-up"></i></span>
                                                        <span *ngIf="chooseOrder !== 'order_id' "><i
                                                                class="fas fa-sort"></i></span>
                                                    </span>
                                                </th>
                                                <th scope="row"
                                                    (click)="sortOrder('order_subtotal')"><b>Subtotal</b>
                                                    <span class="float-right">
                                                        <span
                                                            *ngIf="orderSort===true && chooseOrder === 'order_subtotal' "><i
                                                                class="fas fa-caret-down"></i></span>
                                                        <span
                                                            *ngIf="orderSort===false && chooseOrder === 'order_subtotal' "><i
                                                                class="fas fa-caret-up"></i></span>
                                                        <span *ngIf="chooseOrder !== 'order_subtotal' "><i
                                                                class="fas fa-sort"></i></span>
                                                    </span>
                                                </th>
                                                <th scope="row"
                                                    (click)="sortOrder('order_discount')"><b>Discount</b>
                                                    <span class="float-right">
                                                        <span
                                                            *ngIf="orderSort===true && chooseOrder === 'order_discount' "><i
                                                                class="fas fa-caret-down"></i></span>
                                                        <span
                                                            *ngIf="orderSort===false && chooseOrder === 'order_discount' "><i
                                                                class="fas fa-caret-up"></i></span>
                                                        <span *ngIf="chooseOrder !== 'order_discount' "><i
                                                                class="fas fa-sort"></i></span>
                                                    </span>
                                                </th>
                                                <th scope="row"
                                                    (click)="sortOrder('order_total')"><b>Total</b>
                                                    <span class="float-right">
                                                        <span
                                                            *ngIf="orderSort===true && chooseOrder === 'order_total' "><i
                                                                class="fas fa-caret-down"></i></span>
                                                        <span
                                                            *ngIf="orderSort===false && chooseOrder === 'order_total' "><i
                                                                class="fas fa-caret-up"></i></span>
                                                        <span *ngIf="chooseOrder !== 'order_total' "><i
                                                                class="fas fa-sort"></i></span>
                                                    </span>
                                                </th>
                                                <th scope="row"
                                                    (click)="sortOrder('created_at')"><b>Date purchase</b>
                                                    <span class="float-right">
                                                        <span
                                                            *ngIf="orderSort===true && chooseOrder === 'created_at' "><i
                                                                class="fas fa-caret-down"></i></span>
                                                        <span
                                                            *ngIf="orderSort===false && chooseOrder === 'created_at' "><i
                                                                class="fas fa-caret-up"></i></span>
                                                        <span *ngIf="chooseOrder !== 'created_at' "><i
                                                                class="fas fa-sort"></i></span>
                                                    </span>
                                                </th>
                                                <th scope="row"
                                                    (click)="sortOrder('updated_at')"><b>Last updated</b>
                                                    <span class="float-right">
                                                        <span
                                                            *ngIf="orderSort===true && chooseOrder === 'updated_at' "><i
                                                                class="fas fa-caret-down"></i></span>
                                                        <span
                                                            *ngIf="orderSort===false && chooseOrder === 'updated_at' "><i
                                                                class="fas fa-caret-up"></i></span>
                                                        <span *ngIf="chooseOrder !== 'updated_at' "><i
                                                                class="fas fa-sort"></i></span>
                                                    </span>
                                                </th>
                                                <th scope="row">
                                                    <b>Employee</b>
                                                </th>
                                                <th scope="row">
                                                    <b>Branch</b>
                                                </th>
                                            </tr>
                                            <tbody [attr.id]="'accordion' + z"
                                                *ngFor="let i of ORDER_TEMP.slice(0,10) | filter : searchOrder; let z = index">
                                                <tr class="hover"
                                                    data-toggle="collapse"
                                                    [attr.data-parent]="'#accordion' + z"
                                                    [attr.href]="'#collapseThree_' + z">
                                                    <th scope="row">{{i.order_id}}</th>
                                                    <td>${{i.order_subtotal}}</td>
                                                    <td *ngIf="i.order_discount_type==='amount'">
                                                        ${{i.order_discount}}</td>
                                                    <td *ngIf="i.order_discount_type!=='amount'">
                                                        {{i.order_discount}}%</td>
                                                    <td>${{i.order_total}}</td>
                                                    <td>{{i.created_at | date:"d/M/yy, h:mm:ss a"}}</td>
                                                    <td>{{i.updated_at | date:"d/M/yy, h:mm:ss a"}}</td>
                                                    <td>{{i.order_sale_person.admin_name}}</td>
                                                    <td>{{i.order_branch.branch_name}}</td>
                                                </tr>

                                                <tr>
                                                    <td style="padding: 0%"
                                                        colspan="10">
                                                        <div class="margin:0%"
                                                            [attr.id]="'collapseThree_' + z "
                                                            class="collapse">
                                                            <div class="card bg-light"
                                                                style="margin-bottom: 0%;padding:10px 10px 20px 10px;">
                                                                <ul class="nav nav-tabs"
                                                                    id="myTab"
                                                                    role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active"
                                                                            id="contact-tab"
                                                                            data-toggle="tab"
                                                                            [attr.href]="'#tab1'+z"
                                                                            role="tab"
                                                                            aria-controls="contact"
                                                                            aria-selected="true">
                                                                            Order detail
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link"
                                                                            id="profile-tab"
                                                                            data-toggle="tab"
                                                                            [attr.href]="'#tab2'+z"
                                                                            role="tab"
                                                                            aria-controls="profile"
                                                                            aria-selected="false">Customer</a>
                                                                    </li>

                                                                </ul>
                                                                <div class="tab-content"
                                                                    id="myTabContent">
                                                                    <div class="tab-pane fade show active  border-right border-left border-bottom"
                                                                        [attr.id]="'tab1' + z "
                                                                        role="tabpanel"
                                                                        aria-labelledby="contact-tab">

                                                                        <div class="card p-4 shadow-none">
                                                                            <table class="table table-borderless m-0"
                                                                                *ngFor="let u of alluser">
                                                                                <tbody
                                                                                    *ngIf="u.user_hash_id === i.customer.user_hash_id">
                                                                                    <tr>
                                                                                        <td>OrderID:</td>
                                                                                        <td>{{i.order_hash}}
                                                                                        </td>
                                                                                        <td>Sale person </td>
                                                                                        <td>{{i.order_sale_person.admin_name}}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Branch:</td>
                                                                                        <td>{{i.order_branch.branch_name}}
                                                                                        </td>
                                                                                        <td>Order status </td>
                                                                                        <td>
                                                                                            <input #userStatus
                                                                                                class="form-control"
                                                                                                placeholder="{{i.order_status[0]}}"
                                                                                                value="{{i.order_status[0]}}">
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Name:</td>
                                                                                        <td>
                                                                                            <input #userName
                                                                                                class="form-control"
                                                                                                placeholder="{{i.customer.user_name}}"
                                                                                                value="{{i.customer.user_name}}">
                                                                                        </td>
                                                                                        <td>User ID: </td>
                                                                                        <td>{{u.user_id}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Telephone:</td>
                                                                                        <td>
                                                                                            <input #userTel
                                                                                                class="form-control"
                                                                                                placeholder="{{i.customer.user_telephone}}"
                                                                                                value="{{i.customer.user_telephone}}">
                                                                                        </td>
                                                                                        <td>Address: </td>
                                                                                        <td><input #userAddress
                                                                                                class="form-control"
                                                                                                placeholder="{{i.customer.user_address[0]}}"
                                                                                                value="{{i.customer.user_address[0]}}">
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Email:</td>
                                                                                        <td>
                                                                                            <input #userEmail
                                                                                                class="form-control"
                                                                                                placeholder="{{i.customer.user_email}}"
                                                                                                value="{{i.customer.user_email}}">
                                                                                        </td>
                                                                                        <td>Role: </td>
                                                                                        <td>
                                                                                            <input #userRole
                                                                                                class="form-control"
                                                                                                placeholder="{{u.user_role}}"
                                                                                                value="{{u.user_role}}">
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td aria-rowspan="2">
                                                                                            Order info</td>
                                                                                        <td colspan="3">
                                                                                            <textarea #orderInfo
                                                                                                type="text"
                                                                                                class="form-control"
                                                                                                value="{{i.additional_info}}"
                                                                                                ria-label="orderinfo"
                                                                                                aria-describedby="basic-addon"
                                                                                                readonly>
                                                                                        </textarea>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="5">
                                                                                            <table
                                                                                                class="table table-striped table-sm"
                                                                                                style="width: 100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td><b>ID</b>
                                                                                                        </td>
                                                                                                        <td><b>Name</b>
                                                                                                        </td>
                                                                                                        <td><b>Quantity</b>
                                                                                                        </td>
                                                                                                        <td><b>Price/unit</b>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr
                                                                                                        *ngFor="let p of i.products">
                                                                                                        <td><a>{{p.product_id}}</a>
                                                                                                        </td>
                                                                                                        <span
                                                                                                            *ngFor="let pp of allproduct">
                                                                                                            <td
                                                                                                                *ngIf="pp.product_id === p.product_id">
                                                                                                                {{pp.product_name}}
                                                                                                            </td>
                                                                                                        </span>
                                                                                                        <td>{{p.product_quantity}}
                                                                                                        </td>
                                                                                                        <span
                                                                                                            *ngFor="let pp of allproduct">
                                                                                                            <td
                                                                                                                *ngIf="pp.product_id === p.product_id">
                                                                                                                ${{pp.product_price}}
                                                                                                            </td>
                                                                                                        </span>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                                <tr>
                                                                                                    <td colspan="2">
                                                                                                        <table
                                                                                                            class="table table-bordered m-0"
                                                                                                            *ngFor="let u of alluser">
                                                                                                            <tbody
                                                                                                                *ngIf="u.user_hash_id === i.customer.user_hash_id">
                                                                                                                <tr
                                                                                                                    *ngFor="let j of i.order_payment_option">
                                                                                                                    <td><b>{{j.payment_option}}</b>
                                                                                                                    </td>
                                                                                                                    <td>${{j.payment_value | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td><b>Amount
                                                                                                                            paid:</b>
                                                                                                                    </td>
                                                                                                                    <td>${{i.order_paid | number:  '1.2-2'}}
                                                                                                                    </td>

                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td><b>Change:</b>
                                                                                                                    </td>
                                                                                                                    <td>${{i.order_change | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>


                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                    <td colspan="2"
                                                                                                        class="align-items:right;text-align:right">
                                                                                                        <table
                                                                                                            class="table table-bordered">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td><b>Subtotal</b>
                                                                                                                    </td>
                                                                                                                    <td>${{i.order_subtotal | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td><b>Discount
                                                                                                                        </b>
                                                                                                                        <small
                                                                                                                            *ngIf="i.order_discount_type === 'percentage'">({{i.order_discount | number:  '1.2-2'}}%)</small>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        *ngIf="i.order_discount_type === 'amount'">
                                                                                                                        ${{i.order_discount | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        *ngIf="i.order_discount_type === 'percentage' ">
                                                                                                                        -${{i.order_subtotal * i.order_discount /100 | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td><b>Tax
                                                                                                                        </b>
                                                                                                                        <small>{{i.order_tax | number:  '1.2-2'}}%</small>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        *ngIf="i.order_discount_type === 'amount'">
                                                                                                                        ${{(i.order_subtotal - i.order_discount)*i.order_tax /100 | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        *ngIf="i.order_discount_type === 'percentage'">
                                                                                                                        ${{(i.order_subtotal - i.order_subtotal * i.order_discount /100)*i.order_tax /100 | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr
                                                                                                                    *ngIf="i.order_ship_option === 'Delivery'">
                                                                                                                    <td><b>Shipping
                                                                                                                            fee</b>
                                                                                                                    </td>
                                                                                                                    <td>${{i.order_shipfee | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td><b>Total</b>
                                                                                                                    </td>
                                                                                                                    <td>${{i.order_total | number:  '1.2-2'}}
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td colspan="4"
                                                                                                        style="align-items: right;text-align: right;">
                                                                                                        <button
                                                                                                            class="btn btn-info"
                                                                                                            style="margin: 3px;">
                                                                                                            <i
                                                                                                                class="fas fa-file-invoice"></i>
                                                                                                            <span
                                                                                                                [routerLink]="['/invoice-page', { orderid: i.order_hash }]">
                                                                                                                Invoice</span>
                                                                                                        </button>
                                                                                                        <button
                                                                                                            class="btn btn-success"
                                                                                                            style="margin: 3px;"
                                                                                                            (click)="updateOrderUser(i,userName.value,userTel.value,userEmail.value,userStatus.value,userAddress.value,userRole.value)">
                                                                                                            <i
                                                                                                                class="fas fa-save"></i>
                                                                                                            Update
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>

                                                                            </table>


                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane fade border-right border-left border-bottom"
                                                                        [attr.id]="'tab2' + z "
                                                                        role="tabpanel"
                                                                        aria-labelledby="profile-tab">
                                                                        <div class="card p-4 shadow-none">


                                                                            <table class="table table-striped"
                                                                                style="width: 100%;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><b>ID</b></td>
                                                                                        <td><b>Name</b></td>
                                                                                        <td><b>Email</b></td>
                                                                                        <td><b>Telephone</b>
                                                                                        </td>
                                                                                        <td><b>Address</b></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <span *ngFor="let u of alluser">
                                                                                            <td
                                                                                                *ngIf="u.user_hash_id === i.customer.user_hash_id">
                                                                                                {{u.user_id}}
                                                                                            </td>
                                                                                        </span>
                                                                                        <td>{{i.customer.user_name}}
                                                                                        </td>
                                                                                        <td>{{i.customer.user_email}}
                                                                                        </td>
                                                                                        <td>{{i.customer.user_telephone}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{i.customer.user_address[0]}}
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul class="nav nav-pills justify-content-end">
                                            <li class="nav-item"
                                                (click)="pagi_order(1)"><a class="nav-link active"
                                                    href="#tabO1"
                                                    data-toggle="tab">First</a></li>
                                            <li class="nav-item"
                                                (click)="pagi_order(pag)"
                                                *ngFor="let pag of PAGI_COUNT_ORDER;let x =index">
                                                <a class="nav-link"
                                                    [attr.href]="'#tabO2'+x"
                                                    data-toggle="tab">{{pag}}</a>
                                            </li>
                                            <li class="nav-item"
                                                (click)="pagi_order(PAGI_COUNT_ORDER.length)"><a class="nav-link"
                                                    href="#tabO3"
                                                    data-toggle="tab">Last</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>



                            <!-- /.nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                    </div>



                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.5
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
</body>

</html>