<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | User Profile</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<style>
    .textover {
    display: block;
    display: -webkit-box;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0 auto;
    line-height: normal;
    }
    
    .mysearch{
      position: absolute;
      background-color: white !important;
      width: 100%;
      overflow: auto;
      z-index: 1;
      padding: 0 !important;
      margin: 0 !important;
      
    }
    .mysearch a {
      background-color: white !important;
      color: black;
      padding: 15px 5px 15px 5px;
      text-decoration: none;
      display: block;
      margin:none;
      border-radius: 10px;
      /* border-bottom:2px solid gray;
      border-left:2px solid gray;
      border-right:2px solid gray */
      
    }
    .myimg{
      max-width: 70px;
      border-radius: 5px;
    }
    .mysearch a:hover {
      /* background-color: #343A40;
      color:white; */
      filter:brightness(90%);
      cursor: pointer;
      
    }
    .my-p{
      text-align: center;
      cursor: pointer;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
    }
    .my-result{
    }
    #myInput {
      box-sizing: border-box;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      margin:none;
      padding: 5px;
      padding-left:35px;
      border-bottom-left-radius: none !important;
      border-bottom-right-radius: none !important;
    }
    .my-tab{
      padding:5px;
    }
    #tab_item{
      margin:10px;
      padding:5px;
    }
    #tab_item:hover{
      filter: brightness(90%);
      cursor: pointer;
    }
    .mycard:hover {
      cursor: pointer;
      filter:brightness(90%);
    }
    /* toast */
    .my-toast{
      margin: 10px 20px 5px 10px;
      padding:20px;
      min-width: 250px;
      max-width: 250px;
      max-height: 150px;
    }
    .my-toast-wrapper{
      overflow: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
    .my-toast-wrapper:hover{
      cursor: pointer;
      
    }
    .my-toast:hover{
      filter:brightness(90%);
    }
    
</style>

<body class="hold-transition sidebar-mini">

  
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      
    </ul>
   <!-- mytoast -->
    <ul class="my-toast-wrapper">
      <li class="card my-toast" [ngClass]="toast_type(e.type)" [ngStyle]="toast_color(e.type)" *ngFor="let e of err" (click)="dismiss_err(e)">
        <div class="row">
          <div *ngIf="e.type === 'danger' " ><i class="fas fa-exclamation-circle"></i></div>
          <div *ngIf="e.type === 'success' " ><i class="fas fa-check-circle"></i></div>
          <div *ngIf="e.type === 'warning' " ><i class="fas fa-exclamation-triangle"></i></div>
          <div *ngIf="e.type === 'info' " ><i class="fas fa-info-circle"></i></div>
          <div class="col">
            <div  *ngIf="err.length !== 0">{{e.message}}</div>
          </div>
        </div>
      </li> 
      
    </ul>

      <!-- Right navbar links -->
   
  </nav>
  <!-- /.navbar -->
  
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/profile-page" class="brand-link">
      <img src="assets/dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/maleava.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a *ngFor="let i of infoarr" href="/profile-page" class="d-block">{{i.user_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">Sale</li>
         
          <li class="nav-item has-treeview menu-open">
            <a href="/profile-page" class="nav-link active">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Profile
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              
              <li class="nav-item">
                <a href="/profile-page" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Profile</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/sale-page" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sale order</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/invoice-page" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Invoice</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Authentication
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/login-page" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Login</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-header">LABELS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Important</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile-page" class="nav-link">
              <i class="nav-icon far fa-circle text-warning"></i>
              <p>Warning</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile-page" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>Informational</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content *ngIf="searchinput.value !== '' " -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <div class="col-sm-12" >
             <div class="input-group">
               <div class="input-group-append">

                  <span *ngIf="searchTerm === undefined"><button class="btn" style="color:gray"><i class="fas fa-search" ></i></button></span>
                  <span *ngIf="searchTerm !== undefined || searchTerm === ' ' ">
                    <button class="btn" style="color:gray" (click)="input_close()">
                      <span *ngIf="searchTerm !== ''"><i class="fas fa-times"></i></span>
                      <span *ngIf="searchTerm === ''"><i class="fas fa-search" ></i></span>
                    </button>
                  </span>

                  <div class="mysearch">
                    <input id="myInput" placeholder="Find product..." [(ngModel)]="searchTerm"  (ngModelChange) = "search()" (focus)="input_focus()" >
                    <div class="my-result">
                      <a *ngFor="let item of pset_arr.slice(0,3); let x = index" (click) = "find_product(item)">    
                        <div class="container mycon">
                            <div class="row">
                                <div class="col" >
                                  <img class="myimg" src="https://picsum.photos/200">
                                </div>
                                <div class="col">
                                  <b>{{item.product_name}} </b>
                                  <div>#{{item.product_id}}</div>
                                </div>
                                <div class="col">
                                  <table>
                                    <tr>
                                      <td>In stock:</td>
                                      <td>{{item.product_stock}}</td>
                                    </tr>
                                    <tr>
                                      <td>Bought:</td>
                                      <td>{{item.product_bought}}</td>
                                    </tr>
                                  </table>
                                </div>
                            </div>
                            
                        </div>
                     </a>
                      <p class="my-p" *ngIf="pset_arr.length>3" >
                        <b>There are {{pset_arr.length - 3}} more results matches...</b>
                      </p>

                      <a *ngIf="pset_arr.length === 0 && searchTerm !== undefined && searchTerm !== ''">
                        <div class="container mycon">
                          <div class="row">
                              <div class="col">
                                  <p style="text-align: center;"> <b> 0 result matches </b></p>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    
                </div>
               </div>
             </div>
            </div>            
          </div>
          <div  class="col-sm-3">
            <div class="input-group">
                <!-- <input  #searchinput  list="mylist" name="search1" [(ngModel)]="searchTerm"  (ngModelChange) = "search()">
                <datalist id="mylist" >
                    <option *ngFor="let item of pset_arr.slice(0,5); let x = index">                       
                        {{item.product_id}} : {{item.product_name}}
                    </option>
                </datalist> -->
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-secondary" type="button" (click)="sort_by_product('product_id')">ID
                        <span *ngIf="product_sort===true && chosen_property === 'product_id' " ><i class="fas fa-caret-down"></i></span>
                        <span *ngIf="product_sort===false && chosen_property === 'product_id' " ><i class="fas fa-caret-up"></i></span>
                        <span *ngIf="chosen_property !== 'product_id' "><i class="fas fa-sort"></i></span>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" (click)="sort_by_product('product_bought')">Purchase
                        <span *ngIf="product_sort===true && chosen_property === 'product_bought' " ><i class="fas fa-caret-down"></i></span>
                        <span *ngIf="product_sort===false && chosen_property === 'product_bought' " ><i class="fas fa-caret-up"></i></span>
                        <span *ngIf="chosen_property !== 'product_bought' "><i class="fas fa-sort"></i></span>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" (click)="sort_by_product('product_stock')">Stock
                        <span *ngIf="product_sort===true && chosen_property === 'product_stock' " ><i class="fas fa-caret-down"></i></span>
                        <span *ngIf="product_sort===false && chosen_property === 'product_stock' " ><i class="fas fa-caret-up"></i></span>
                        <span *ngIf="chosen_property !== 'product_stock' "><i class="fas fa-sort"></i></span>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" (click)="sort_by_product('product_updated_at')">Update time
                        <span *ngIf="product_sort===true && chosen_property === 'product_updated_at' " ><i class="fas fa-caret-down"></i></span>
                        <span *ngIf="product_sort===false && chosen_property === 'product_updated_at' " ><i class="fas fa-caret-up"></i></span>
                        <span *ngIf="chosen_property !== 'product_updated_at' "><i class="fas fa-sort"></i></span>
                    </button>
                </div>
            </div>
          </div>
          <div class="col-sm-3">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/profile-page">Home</a></li>
              <li class="breadcrumb-item active">Sale</li>
              
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-9" >
              <!-- Profile Image -->
              <div class="card bg-white mb-3 " style="min-height: 380px;max-height: 380px;">
                <!-- /.card-header -->
                <div class="card-body overflow-auto">
                    <div class="row" >
                        <div class="col-sm-2" *ngFor="let i of allproduct.slice(0,20) | filter:searchProduct" (click)="chooseProduct(i)">
                            <div class="card mycard">
                                <div class="container " >
                                    <div class="row " >
                                        <div class="col" style="max-width: 200px;max-height: 100px;justify-content: center; display: flex; overflow: hidden; ">
                                            <img class="card-img" style="max-height: 100px; width: auto;"  src="https://picsum.photos/200/100" alt="Card image"/>
                                        </div>
                                        <!-- <div class="col">
                                            <a>{{i.product_id}}</a>
                                        </div> -->
                                        
                                        <!-- <div class="col">
                                            <a>S{{i.product_stock}}</a>
                                        </div> -->
                                    </div> 
                                    <div class="row" aria-rowspan="2">
                                      <div class="col">
                                        <a><b>${{i.product_price}}</b>
                                          <small class="float-right" style="color:red;">{{i.product_stock}} left</small></a>
                                      </div>
                                    </div>
                                    <div class="row" aria-rowspan="2">
                                        <div class="col textover" >
                                            <a>{{i.product_name}} lorem ipsum diasda lorem ipsum</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="card bg-white mb-2 overflow-auto" style="min-height: 430px;max-height: 430px;">
                <!-- /.card-header -->
                
                <nav>
                    <div class="nav nav-tabs d-flex flex-row " id="nav-tab" role="tablist" >
                        <a class=" nav-item nav-link" [ngClass]="active()" id="nav-home-tab" data-toggle="tab" href="#nav-home" 
                        role="tab" [attr.aria-controls]="'nav-home'" aria-selected="true" *ngFor="let i of temporder; let x= index" [ngValue]="i"  (click)="test(i)" >
                        Order {{i}} <i class="fas fa-times" (click)="removeTab(x);removeAll(i)"></i>
                        </a>
                        <a class="nav-item nav-link " (click)="addTab()">
                          <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </nav>
                  <div class="tab-content my-tab" id="nav-tabContent">
                    <div class="tab-pane fade show " [attr.id]="'nav-home'" role="tabpanel" aria-labelledby="nav-home-tab" [(ngModel)]="t" name="fieldName" ngDefaultControl> 
                        <div class="my-tab-pane" *ngFor="let item of tab_arr">
                            <div *ngIf="item.tab_id === t">
                                <div *ngFor="let pro of item.tab_product">
                                    <div id="tab_item" class="card d-flex flex-row shadow bg-white rounded"  >
                                      <div class="row">
                                          <div class="col" ><img class="myimg" src="https://picsum.photos/200/"></div>
                                      </div>
                                        <div class="card-body">
                                           <a> <b>Product id:</b>  {{pro.product_id}}</a>
                                        </div>
                                        <div class="card-body" >
                                              <button type="button" class="btn btn-light" (click)=" add_and_minus('minus',item,pro)" >
                                                <i class="fas fa-angle-down"></i>
                                              </button>
                                              <b>Quantity:</b> {{pro.product_quantity}} 
                                              <button type="button" class="btn btn-light" (click)=" add_and_minus('add',item,pro)">
                                                <i class="fas fa-angle-up"></i>
                                              </button>
                                        </div>  
                                        <div class="card-body" >
                                            <span *ngFor="let pr of allproduct">
                                                  <span *ngIf ="pr.product_id === pro.product_id">
                                                      <b>Price: $</b>{{pr?.product_price}}
                                                  </span>
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <span *ngFor="let pr of allproduct">
                                              <span *ngIf ="pr.product_id === pro.product_id">
                                                <b>Total:  $</b>{{pro.product_quantity * pr?.product_price}} 
                                              <button type="button" class="btn btn-danger" (click)=" remove_tabproduct(item,pro)" >
                                                <i class="fas fa-trash-alt"></i>
                                              </button>
                                              </span>
                                        </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                <!-- /.card-body -->
              </div>
            </div>
            <!-- <div class="col-sm-9" >
                
                
            </div> -->
            <div class="col-sm-3 ">
                <div class="card bg-white mb-4 col-sm-12  overflow-auto "  style="height: 99%;">
                    <!-- /.card-header -->
                    <h4 class="mt-4" style="text-align: center;"><b>Order #{{t}}</b></h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="card-body">
                                <h4><b>Customer</b></h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-2 ">
                                    <select class="custom-select" [(ngModel)]="u" name="targetuser" (change)="change(u);">
                                        <option *ngFor="let u of alluser" [ngValue]="u">{{u.user_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="card-body">
                                <h4><b>Sub total  </b></h4> 
                            </div>
                            <div class="card-body" >
                                <!-- <h4 *ngIf="tabtotal.length !== 0"  >
                                    <div class="float-right"  [(ngModel)]="to" name="fieldName1" ngDefaultControl  *ngFor="let item of tabtotal; let x = index" >
                                        <option type="hidden" *ngIf="item.id === t && item.total === to" [ngValue]="item.total" >
                                            $ {{to}}
                                            </option>
                                    <hr class="mt-2 mb-2"/>
                                    </div></h4>
                                <h4 *ngIf="tabtotal.length === 0">
                                    <span class="float-right">
                                        <a>$0</a>
                                    </span>
                                </h4> -->
                                <h1><div class="float-right">${{to}}</div></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body">
                                <h4><b>Discount </b></h4>
                            </div>
                            <div class="card-body">
                                <input [(ngModel)]="discount" style=" text-align: right;" 
                                type="number" class="form-control col-lg-6 float-right" placeholder="$" aria-label="Username" 
                                aria-describedby="basic-addon1" (blur)="blur_discount()" (focus)="blur_discount()">
                            </div>
                        </div>
                        <hr class="mt-2 mb-2"/>
                        <div class="row">
                            <div class="card-body">
                                <h4><b>Total  </b></h4>
                            </div>
                            <div class="card-body" >
                                <h1  *ngIf="tabtotal.length !== 0"  >
                                    <span class="float-right"  >
                                        <div >
                                            ${{sub}}
                                        </div>
                                    </span></h1> 
                            </div>
                        </div>
                        <div class="row">
                            <button class= "btn btn-success btn-block" (click)="payandprint()">
                                <i class="far fa-credit-card"></i>
                                Pay and print</button>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    
                </div>
            </div>
            </div>
            
        </div>
    </section>
    <!-- Main content -->
   
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
</body>
</html>

